@font-face {
  font-family: 'Nicolast';
  src: url('assets/fonts/nicolast/nicolast-webfont.woff2') format('woff2'),
       url('assets/fonts/nicolast/nicolast-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root{
  --text-color: #FFFFFF;
  --color-primary: #5763F1;
  --color-primary-dark: #32398B;
  --color-gray: #7b7c8a;
  --box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  --box-shadow-input: rgb(200, 208, 231) 3.2px 3.2px 8px 0px inset, rgb(255, 255, 255) -3.2px -3.2px 8px 0px inset;
}

#root {
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

body{
  background: radial-gradient(circle, var(--color-primary) 0%, var(--color-primary-dark) 100%);
  color: var(--text-color);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: Nicolast, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: inherit;
  margin-block: 1rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main_container{
  max-height: 100%;
}


/* Welcome page */

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
  height: 100%;
  margin: auto;
  max-width: 650px;
}

.overflow-container{
  flex-grow: 1;
  overflow: auto;
  justify-content: flex-start;
}

.abalone-title{
  font-size: calc(5000vw / 1018);
  font-weight: bold;
  margin-block: 0;
  font-family: Nicolast;
  text-align: center;
}

.btn-container{  
  display: flex;
  gap: 1em;
  min-width: 100%;
}

.icon-btn-container{
  display: flex;
  gap: 1em;
  justify-content: center;
}


.btn-container > *{
  flex: 1;
}

/* CSS */
button {
  top: 5px;
  left: 5px;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid;
  padding: 0.5em;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 12px;
  background-color: var(--color-primary-dark);
  font-family: inherit;
  transition: all .2s;
}

button:hover {
  top: 0;
  left: 0;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

button:active {
  box-shadow: 0px 0px 0px 0px ;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  button {
    padding: 0.75em;
  }
}

input{
  padding: 0.5em;
  color: var(--color-primary-dark);
  border-radius: 0.5em;
  border: 2px solid var(--color-gray);
  font-size: calc(2500vw / 1018);
  background-color: #FFFFFF;
  box-shadow: var(--box-shadow-input);
}

input:focus{
  outline: none;
  border: 2px solid var(--color-primary-dark);
}

.return-button-wrapper{
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5em;
}

.icon-button{
  border-radius: 50%;
}


button svg{
  fill: var(--text-color);
}


/* Game page */

.game_container{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.players{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--color-primary-dark);
  padding: 2rem;
  border-radius: 1rem;
  border: 5px solid var(--color-primary-dark);
  box-shadow: var(--box-shadow);
}

.players > *{
  color: var(--text-color);
}

.game-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: var(--color-primary);
  color: var(--color-primary-dark);
  padding: 2rem;
  border-radius: 1rem;
  border: 5px solid var(--color-primary-dark);
  box-shadow: var(--box-shadow);
}

.game-info > *{
  color: var(--text-color);
}

.game-info h1{
  font-size: 2rem;
}

.scores{
  font-family: Nicolast;
  font-size: 2rem;
}

.room-code{
  font-size: 1.5rem;
  text-align: center;
}

.avatar{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
}

.pseudo{
  margin-block: 0;
  font-weight: bold;
  font-size: 1.5rem;
}

.board-wrapper{
  width: 500px;
  height: 500px;
  flex-shrink: 0;
}

.board{
  width: 100%;
  height: 100%;
  background-image: url(assets/board.webp);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.black-marble{
  fill: #1e1e21
}

.white-marble{
  fill: #FFFFFF;
  border: 1px solid red;
}

.yellow-marble{
  fill: #FFFF00;
}

.red-marble{
  fill: #FF0000;
}

.empty-marble{
  fill: #FFFFFF00;
}

polygon{
  transition: all .2s;
}

.W_orientation{
  transform-box: content-box;
  transform-origin: center;
  transform: translate(-12px);
}

.NW_orientation{
  transform-box: content-box;
  transform-origin: center;
  transform: translate(-6px, -12px) rotate(60deg);
}

.NE_orientation{
  transform-box: content-box;
  transform-origin: center;
  transform: translate(8px, -12px) rotate(120deg);
}

.E_orientation{
  transform-box: content-box;
  transform-origin: center;
  transform: translate(15px, 0px) rotate(180deg);
}

.SE_orientation{
  transform-box: content-box;
  transform-origin: center;
  transform: translate(9px, 12px) rotate(240deg);
}

.SW_orientation{
  transform-box: content-box;
  transform-origin: center;
  transform: translate(-6px, 12px) rotate(300deg);
}

/* Ranking page */

.main-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.content-wrapper {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
}

.ranking-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 auto;
  text-align: left;
}

.ranking-table thead th{
  position: sticky;
  top: 0;
}

.ranking-table th,
.ranking-table td {
  padding: 8px;
  text-align: center;
}

.ranking-table th {
  background-color: #f4f4f4;
}

/* Thead border-radius */
.ranking-table tr th:first-child{
  border-radius: 12px 0 0 12px;
}

.ranking-table tr th:last-child {
  border-radius: 0 12px 12px 0;
}

/* Tbody border-radius */
.ranking-table tr td:first-child {
  border-radius: 12px 0 0 12px;
}

.ranking-table tr td:last-child {
  border-radius: 0 12px 12px 0;
}

.ranking-table tr:nth-child(even) {
  background-color: var(--color-primary-dark);
}

.ranking-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
}


/* Rules screen */

.rules-container p, li{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
/* body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
} */

.diagram {
  text-align: center;
  margin: 20px 0;
}
img {
  max-width: 100%;
  height: auto;
}